:root {
  --darkgrey: #404040;
  --lightgrey: #d9d9d9;
}


body {
    font-family: 'Open Sans';
    margin: 0px;
    margin-bottom: 100px;
}

footer a {
  color: white;
}

header {
    padding: 20px;
    text-align: center;
    background: white;
    color: var(--darkgrey);
    /* font-size: 30px; */
    opacity: 0.4;
}

header a {
  text-decoration: none;
  color: var(--darkgrey);
  font-size: 25px;
  position:absolute;
  right:0;
  top:0;
}

header a:hover {
  background: var(--lightgrey);
}

#mySidebar {
  height:100%;
  /* width:200px; */
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 150px;
  /* padding-left: 50%; */
  background-color:#000000;
  color: var(--lightgrey);
  position:fixed!important;
  z-index:1;
}



.animate-top{
  position:relative;
  animation:animatetop 0.4s
}

@keyframes animatetop{
  from{top:-300px;opacity:1} to{top:0;opacity:1}
}

#mySidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  text-align: center;
}

#mySidebar a {
  text-decoration: none;
  color: var(--darkgrey);
  font-size: 30px;
}

#mySidebar a:hover {
  color: #FFFFFF;
}

footer {
  padding: 10px;
  /* padding-bottom: 0px; */
  position: fixed;
  opacity: 0.5;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--darkgrey);
  color: var(--lightgrey);
  text-align: center;
}


.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item {
  padding: 10px;
  width: 90%;
}

.no-show {
  display:none;
}

.container {
position: relative;
width: 100%;
}

.image {
display: block;
width: 100%;
height: auto;
}

.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .5s ease;
background-color: #FFFFFF;
}

.container:hover .overlay {
opacity: 0.6;
}

.text {
color: var(--darkgrey);
font-size: 30px;
position: absolute;
bottom: 10%;
right: 10%;
/* transform: translate(-50%, -50%); */
text-align: bottom;
}

.fa {
padding-left: 5px;
padding-right: 5px;
}

.button {
  border-radius: 8px;
  border: none;
  text-align: center;
  position: center;
  font-size: 16px;
  padding: 8px 16px;
  margin: 16px;
  background-color: var(--darkgrey);
  color: #FFFFFF;
  opacity: 0.5;
}

.button-hover:hover {
  opacity: 0.75;
}